/* Scrollbar container */
// .calendar-container {
//   overflow-x: auto;
//   // scrollbar-width: thin; /* Firefox uchun */
//   scrollbar-color: #faad14 #f0f0f0; /* Firefox uchun */
// }

.calendar-container::-webkit-scrollbar {
  height: 12px;
}

.calendar-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  height: 4px;
  border-radius: 20px;
}

.calendar-container::-webkit-scrollbar-thumb {
  background: #faad14;
  width: 20px;
  height: 12px;
  border-radius: 20px;
}

.calendar-container::-webkit-scrollbar-thumb:hover {
  background: rgba(212, 136, 6, 0.631);
}

.calendar-container {
  .ant-card-body {
    padding: 0;
  }
}
