.profile-panel {
  display: flex;
  align-items: center;
  margin-left: 44px;
  margin-right: 24px;
  position: relative;
  .profile-name {
    color: #090e14;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
  }

  .profile-info {
    margin-right: 12px;
  }

  .profile-role {
    color: var(--Greys-Grey-1, #77828a);
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }

  .profile-avatar {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &:hover {
    }
  }

  .profile-menu {
    background-color: #d9dfe3;
    color: #000;
    position: absolute;
    transform: translate(-36%, -100%);
    width: 100px;
    border-radius: 10px;
    line-height: normal;

    div {
      cursor: pointer;
      padding: 10px 15px;
    }
  }

  .profile-menu-opened {
    background-color: #d9dfe3;
    color: #000;
    position: absolute;
    width: 100px;
    border-radius: 10px;
    line-height: normal;
    transform: translate(-36%, 84%);
  }

  .profile-arrow {
    cursor: pointer;
  }
}

.ant-select-selector {
  padding-left: 30px !important;
  border: none !important;
  box-shadow: none !important;
  padding-right: 15px !important;
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
  &::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../../assets/images/icons/language.svg");
    background-size: cover;
  }

  .ant-select-selection-item {
    color: #77828a;
  }
}

.tabs-icons {
  color: #fff;
  svg {
    path {
      stroke: #fff;
    }
  }
}

.header-tabs {
  display: flex;
}

.header-tabs__tab {
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  padding: 8px 20px;
  margin-right: 8px;
  transition: all ease 0.3s;

  .header-tabs__tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    fill: #000;
    path {
      stroke: #000;
    }
  }

  .header-tabs__tab-title {
    font-size: 13px;
    color: #000;
    margin-left: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.header-tabs__tab--active {
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  background-color: #7635e9;
  border: 1px solid #7635e9;
  padding: 8px 20px;
  margin-right: 8px;
  transition: all ease 0.3s;

  .header-tabs__tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    fill: #fff;
  }

  .header-tabs__tab-title {
    font-size: 13px;
    color: #fff;
    margin-left: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
