.ant-input {
  background-color: #f5f5f5;
  color: #02080d;
  border: 2px solid #1677ff;
}

.ant-input-outlined {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 11px;

  &:focus {
    box-shadow: none;
    border: 2px solid #1677ff;
  }
  &:hover {
    border: 2px solid #1677ff;
  }
}

.ant-input-affix-wrapper {
  &:focus {
    border: 2px solid #1677ff !important;
  }
}

.ant-input-password {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 11px;
  background-color: #f5f5f5;

  &:focus {
    box-shadow: none;
    border: 2px solid #1677ff !important;
  }
  &:focus-within {
    box-shadow: none;
    border: 2px solid #1677ff !important;
  }
  &:hover {
    border: 2px solid #1677ff;
  }
}

.ant-picker {
  background-color: #f5f5f5;
  color: #77828a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 11px;

  &:hover {
    border: 2px solid #1677ff;
  }

  &:focus {
    box-shadow: none;
    border: 2px solid #1677ff;
  }
}

.ant-picker-outlined:focus-within {
  border-color: #1677ff;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #1677ff !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #1677ff !important;
}

.ant-picker-today-btn {
  color: #1677ff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #f5f5f5 !important;
  color: #77828a !important;
}

.custom-search-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: 12px;

  border-radius: 8px;
  background-color: #f5f5f5 !important;
  color: #77828a;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  position: relative;
  overflow: hidden;

  .search-input-inner {
    width: 100%;
    background-color: #f5f5f5 !important;
    display: inline-block;
    height: 100%;
    line-height: 40px;
    outline: none 0;
    padding: 0 30px 0 10px;
    border: none 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    &::placeholder {
      color: #77828a;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
    }

    &:focus-visible {
      border: none;
    }
    &:focus {
      border: none;
    }
  }
  .anticon-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.ant-pagination-item {
  min-width: 28px !important;
  height: 28px !important;
  line-height: 26px !important;
  background-color: #f5f5f5 !important;
}

.ant-pagination-prev,
.ant-pagination-next {
  min-width: 28px !important;
  height: 28px !important;
  line-height: 26px !important;
  background-color: #f5f5f5 !important;
}

.ant-pagination-item-active {
  border: none !important;
  background-color: #1677ff !important;
  a {
    color: #fff !important;
  }
}

.ant-switch-checked {
  background-color: #1677ff !important;
}

.my-select-wrapper {
  .my-select {
    outline: none;
    background-color: #f5f5f5 !important;
    color: #02080d !important;
    border: 2px solid transparent !important;
    border-radius: 10px;
    transition: all ease 0.3s;

    &:focus {
      box-shadow: none;
      border: 2px solid #1677ff !important;
    }
    &:focus-within {
      box-shadow: none;
      border: 2px solid #1677ff !important;
    }
    &:hover {
      border: 2px solid #1677ff !important;
    }
  }

  .css-t3ipsp-control {
    box-shadow: none !important;
    border: 2px solid transparent !important;
    padding: 2px;
    border-radius: 10px;
    background-color: #f5f5f5 !important;
  }

  .css-13cymwt-control {
    padding: 2px;
    box-shadow: none !important;
    border: 2px solid transparent !important;
    border-radius: 10px;
    background-color: #f5f5f5 !important;
  }

  .css-uves1z-menu {
    .css-d7l1ni-option {
      background-color: #1677ff !important;
    }
  }

  .css-tr4s17-option {
    background-color: #1677ff !important;
  }

  .css-10wo9uf-option {
    &:hover {
      background-color: #1677ff !important;
    }
    &:active {
      background-color: #579af9 !important;
    }
  }

  .css-d7l1ni-option {
    background-color: #1677ff93 !important;
  }
}

.my-asyncselect-wrapper {
  .my-asyncselect {
    outline: none;
    background-color: #f5f5f5 !important;
    color: #02080d !important;
    border: 2px solid transparent !important;
    border-radius: 10px;
    transition: all ease 0.3s;

    &:focus {
      box-shadow: none;
      border: 2px solid #1677ff !important;
    }
    &:focus-within {
      box-shadow: none;
      border: 2px solid #1677ff !important;
    }
    &:hover {
      border: 2px solid #1677ff !important;
    }
  }

  .css-13cymwt-control {
    box-shadow: none !important;
    border: 2px solid transparent !important;
    padding: 2px;
    border-radius: 10px;
    background-color: #f5f5f5 !important;
    cursor: pointer !important;
  }

  .css-t3ipsp-control {
    padding: 2px;
    box-shadow: none !important;
    border: 2px solid transparent !important;
    border-radius: 10px;
    background-color: #f5f5f5 !important;
  }

  .css-16xfy0z-control {
    padding: 2px;
    box-shadow: none !important;
    border: 2px solid transparent !important;
    border-radius: 10px;
    background-color: #f5f5f5 !important;
    opacity: 0.5;
  }

  .css-tr4s17-option {
    transition: all ease 0.3s;
    background-color: #1677ff !important;
  }

  .css-10wo9uf-option {
    transition: all ease 0.3s;
    &:hover {
      background-color: #1677ff !important;
    }
    &:active {
      background-color: #579af9 !important;
    }
  }

  .css-d7l1ni-option {
    transition: all ease 0.3s;
    background-color: #1677ff93 !important;
  }
}

.upload-banner {
  width: 260px !important;
  height: 150px !important;

  .ant-upload-list-item-container {
    width: 100% !important;
    height: 150px !important;
  }

  .ant-upload {
    width: 260px !important;
    height: 150px !important;
    border-radius: 12px !important;
    transition: all ease 0.2s !important;

    &:hover {
      border-color: #1677ff !important;
    }

    .upload-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__title {
        color: var(--White-and-Dark-Dark, #02080d);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        margin-top: 8px;
      }

      &__subtitle {
        color: var(--Greys-Grey-1, #77828a);
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        max-width: 140px;
      }
    }
  }
}

.default-file-upload {
  .ant-upload {
    width: 152px !important;
    height: 152px !important;
  }

  .ant-upload-list-item-container {
    width: 152px !important;
    height: 152px !important;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1677ff !important;
  border-color: #1677ff !important;
}

.ant-checkbox-checked:hover .ant-checkbox-inner {
  background-color: #1b56aa !important;
  border-color: #1b56aa !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #1677ff !important;
}

